/dist/*
.local
.output.js
/node_modules/**

**/*.svg
**/*.sh

/public/*

/cypress/videos/
/cypress/screenshots/
docs/.vitepress/.temp
docs/.vitepress/cache
docs/.vitepress/cache/deps/
docs/.vitepress/dist
.vitepress/cache
lib